@charset "UTF-8";

/* 2025-01-20: align omgezet naar class */
/* .center {
  text-align: center;
}
.justify {
  text-align: justify;
} */
.left {
  text-align: left;
}
/* .right {
  text-align: right;
} */
/* 2025-01-20 */
table p, table li {
  font-family: 'Calibri', sans-serif;
  font-size: 10pt;
  line-height: 14pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

/* aanpassingen tbv markdown */

section[data-type='markdown'] p {
  margin-top: 16pt;
  margin-bottom: 0pt;
}